h1{
    background-color:darksalmon;
}
body{
    background-color: bisque;
}
/* made the image float left so the text wrapps around it */
img{
    height: auto;
    max-width: 150px;
    float: left;
    margin: 5px;
}
.wrapper{
    margin: 30px;
}
p{
    padding: 5px;
    text-align: justify;
}
/* adds max width so it fits the wrapper */
.text-wrap{
    width: fit-content;
}
dl{
    background-color:darksalmon;
}
dt{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px;
}
dd{
    margin-left: 0;
    padding: 5px;
}