h1{
    background-color:darksalmon;
}
body{
    background-color: bisque;
}
img{
    /* width: 100%; */
    height: auto;
    max-width: 150px;
    float: left;
    margin: 5px;

}
.wrapper{
    margin: 30px;
}
p{
    padding: 5px;
}
.text-wrap{
    width: 700px;
}
dl{
    background-color:darksalmon;
   
}
dt{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px;
}
dd{
    margin-left: 0;
    padding: 5px;
}